
[submodule "aronim-cloud-account"]
	path = aronim-cloud-account
	url = git@git.aronim.com:cloud/aronim-cloud-account.git
	branch = master

[submodule "aronim-cloud-common"]
	path = aronim-cloud-common
	url = git@git.aronim.com:cloud/aronim-cloud-common.git
	branch = master

[submodule "aronim-cloud-common-test"]
	path = aronim-cloud-common-test
	url = git@git.aronim.com:cloud/aronim-cloud-common-test.git
	branch = master

[submodule "aronim-cloud-component"]
	path = aronim-cloud-component
	url = git@git.aronim.com:cloud/aronim-cloud-component.git
	branch = master

[submodule "aronim-cloud-config-repo"]
	path = aronim-cloud-config-repo
	url = git@git.aronim.com:cloud/aronim-cloud-config-repo.git
	branch = master

[submodule "aronim-cloud-configuration"]
	path = aronim-cloud-configuration
	url = git@git.aronim.com:cloud/aronim-cloud-configuration.git
	branch = master

[submodule "aronim-cloud-gateway"]
	path = aronim-cloud-gateway
	url = git@git.aronim.com:cloud/aronim-cloud-gateway.git
	branch = master

[submodule "aronim-cloud-gateway-test"]
	path = aronim-cloud-gateway-test
	url = git@git.aronim.com:cloud/aronim-cloud-gateway-test.git
	branch = master

[submodule "aronim-cloud-metric"]
	path = aronim-cloud-metric
	url = git@git.aronim.com:cloud/aronim-cloud-metric.git
	branch = master

[submodule "aronim-cloud-registry"]
	path = aronim-cloud-registry
	url = git@git.aronim.com:cloud/aronim-cloud-registry.git
	branch = master

[submodule "aronim-cloud-user"]
	path = aronim-cloud-user
	url = git@git.aronim.com:cloud/aronim-cloud-user.git
	branch = master
